#fondo {
  max-width: 100%;
}
.footer {
  bottom: 0;
  width: 100%;
  margin-bottom: 0;
}
#items {
  color: grey;
  text-decoration: none;
  font-size: 20px;
}
#items:hover {
  font-size: 22px;
  color: black;
}
#fases {
  max-width: 65%;
  margin: auto;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}

@media (max-width: 768px) {
  #fases {
    max-width: 100%;
  }
}
