#fondo {
  max-width: 100%;
}
.footer {
  bottom: 0;
  width: 100%;
  margin-bottom: 0;
}
#items {
  color: grey;
  text-decoration: none;
  font-size: 20px;
}
#items:hover {
  font-size: 22px;
  color: black;
}
#fases {
  max-width: 70%;
  margin: auto;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}
#puntos {
  font-size: 20px;
  color: redl;
}
#preg {
  border-radius: 15px;
}
.navbar-toggler {
  background-color: black !important;
}

@media (max-width: 768px) {
  #fases {
    max-width: 100%;
  }
}
